[Unit]
Description=Check WireGuard endpoint changes every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=dnsdist-ecs-update.service

[Install]
WantedBy=timers.target
